@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none;
  list-style: none;
  letter-spacing: 2px;
}
html {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url("./assets/background.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
}

h1 {
  color: white;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.search-container {
  max-width: 315px;
  padding: 15px 20px;
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  background: rgba( 221, 213, 213, 0.2 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

.searchbar {
  font-size: 1.2rem;
  margin-right: 10px;
  border: 0;
  outline: 0;
  background-color: transparent;
  color: white;
}

input::placeholder {
  color: white;
}

.weather-display {
  color: white;
  padding: 40px;
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 2px );
  -webkit-backdrop-filter: blur( 2px );
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.condition {
  font-weight: 300;
}

.condition-icon {
  width: 48px;
}

.location {
  margin-bottom: 20px;
}

.weather-info {
  display: flex;
  justify-content: space-around;
}

.temperature {
  display: flex;
}

.temperature-value {
  font-size: 8rem;
}

.temperature-unit {
  font-size: 2rem;
}

.info {
  text-transform: uppercase;
}

.info:not(:last-child){
  margin-bottom: 5px;
}
